@media (min-width: 1920px) {
  /* Code for navbar Section */

  .navbar ul li a {
    font-size: 38px;
    font-weight: 500;
    padding: 3px 10px;
    margin: 4px 22px;
    border: 40px;
    color: rgb(11, 10, 10);

    font-family: century;
  }

  /* Code for home Section */

  .menutxt h3 {
    font-size: 40px;
    font-weight: 500;
  }

  .menutxt h1 {
    font-size: 45px;
    font-weight: 800;
    padding: 27px 0rem;
  }

  .menutxt p {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 5px;
  }

  .inputs {
    margin-left: 2px;
  }
  /* Code for Skill Section */

  .skill_level {
    right: 35%;
  }

  /* Code for Project Section */

  .project_content {
    margin: 20px 0px;
  }
  .project_card {
    position: relative;
    height: 150px;
  }
}

@media (max-width: 1200px) {
  .role {
    font-size: 35px;
    padding: 4px 10px;
    position: absolute;
    border-radius: 15px;
    top: 170px;
    left: 60px;
  }

  .image {
    height: 380px;
    width: 380px;
    top: 170px;
    right: 60px;
  }

  .menutxt {
    top: 470px;
    margin: left;
    left: 60px;
  }

  /* Code for Skill Section */

  .skill_level {
    position: absolute;
    top: 17%;
    right: 18%;
  }

  /* Code for Project Section */

  .project_card {
    height: 270px;
  }
  .project_info {
    margin: 0 -30px;
  }
}

@media (max-width: 900px) {
  .navbar {
    padding: 0 13px;
  }
  .nav-menu {
    gap: 25px;
  }
  .nav-link {
    font-size: 20px;
  }

  .logo {
    font-size: 35px;
    margin-left: 14px;
  }
  .role {
    padding: 8px 10px;
    font-size: 30px;
    position: absolute;
    top: 130px;
    left: 50px;
  }

  .image {
    height: 310px;
    width: 380px;
    right: 50px;
    top: 200px;
  }

  .menutxt {
    top: 480px;
    left: 50px;
    z-index: 1;
  }

  .inputs {
    margin-left: 2px;
  }

  /* Code for About Section */
  .my_info {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .my_info img {
    width: 100%;
  }

  .my_info .info {
    text-align: center;
    margin-top: 5px;
    padding: 0 30px;
  }

  .my_info h2 {
    margin-bottom: 10px;
  }

  /* Code for service Section */
  .service_container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Code for Skill Section */
  .skill_bar {
    width: 600px;
  }

  /* Code for project Section */

  .project_container {
    grid-template-columns: repeat(1, 1fr);
  }
  .project_info {
    margin: 0 20px;
  }
}

@media (max-width: 770px) {
  .navigation_bar,
  #home,
  .my_info,
  .service_container,
  .skill_container,
  .project_container,
  .form {
    border-radius: 30px;
    box-shadow: 3px 1px 4px var(--title-color);
  }

  /* Code for the hamburger menu */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    z-index: 200;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: absolute;
    left: -100%;
    flex-direction: column;
    opacity: 0.94;
    background-color: var(--secondary-color);
    gap: 14px;
    top: 90px;
    padding: 20px 0;
    width: 96.4%;
    text-align: center;
    transition: 0.8s ease-in-out;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 2px 2px 10px var(--title-color);
    border: 1px solid var(--title-color);
  }

  .logo {
    font: 28px;
  }
  .navbar {
    z-index: 1;
  }
  .nav-menu.active {
    left: 1.8%;
    top: 87px;
  }

  .nav-item {
    margin: 15px 0;
  }

  .nav-link {
    font-size: 30px;
    font-weight: 500;
    color: var(--third-color);
    cursor: pointer;
  }

  .nav-link::after {
    content: "";
    height: 0;
  }

  .nav-link:hover {
    text-shadow: 8px 8px 60px white;
    transition: 0.3s ease;
    color: var(--title-color);
  }

  /* Code for the home page  */

  .role {
    padding: 6px 10px;
    font-size: 24px;
    position: absolute;
    top: 130px;
    left: 70px;
  }

  .image {
    height: 280px;
    width: 380px;
    left: 70px;
    top: 210px;
  }

  .menutxt {
    top: 520px;
    left: 70px;
  }

  .menutxt h3 {
    font-size: 20px;
    font-weight: 300;
  }

  .menutxt h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 5px 0rem;
  }

  .inputs {
    font-size: 35px;
    margin-left: 2px;
  }

  .menutxt p {
    font-size: 14px;
    font-weight: 200;
    padding-right: 20px;
  }

  .cv_btn1 {
    font-size: 10px;
    font-weight: 400;
    margin: 8px 0;
    width: 100px;
  }

  /* Css code for  info section */

  .my_info .info {
    padding: 0 10px;
  }

  /* Code for Skill Section */
  .skill_bar {
    width: 420px;
  }
  /* Css code for Project card */
  .project_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
  }

  .project_card {
    height: 280px;
  }

  .project_info {
    margin: 0 -20px;
  }

  /* Css code for Contact section */

  .name,
  .email {
    width: 360px;
  }

  .msg {
    width: 450px;
  }
  .connect {
    font-size: 19px;
  }
}

@media (max-width: 600px) {
  .navigation_bar,
  #home,
  .my_info,
  .service_container,
  .skill_container,
  .project_container,
  .form {
    box-shadow: 3px 1px 4px var(--title-color);
    border-radius: 30px;
  }
  .navigation_bar {
    margin: 10px 10px;
    margin-bottom: 15px;
  }

  .nav-menu {
    width: 93.5%;
    top: 86px;
  }

  .nav-menu.active {
    left: 3.4%;
    top: 86px;
  }
  /* Code for the home page  */

  .role {
    padding: 5px 8px;
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 50px;
  }

  .image {
    height: 300px;
    width: 360px;
    left: 50px;
    top: 210px;
  }

  .menutxt {
    top: 540px;
    left: 50px;
  }
  .logo {
    font-size: 25px;
  }

  .menutxt h3 {
    font-size: 15px;
    font-weight: 300;
  }

  .menutxt h1 {
    font-size: 25px;
    font-weight: 600;
    padding: 8px 0rem;
  }

  .inputs {
    font-size: 30px;
    margin-left: 2px;
  }

  .menutxt p {
    font-size: 12px;
    font-weight: 200;
    padding-right: 20px;
  }

  .cv_btn1 {
    font-size: 10px;
    font-weight: 400;
    margin: 8px 0;
    width: 100px;
  }
  .icons img {
    height: 19px;
    width: 19px;
    margin: 5px;
  }

  /* code for About container */

  .my_info.info {
    padding: 0 10px;
  }

  /* code for skill container */

  .service_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .service_card:nth-child(2) {
    margin: -10px 30px;
  }

  /* Code for Skill Section */
  .skill_bar {
    width: 350px;
  }

  .skill_per::before {
    padding: 6px 7px;
    font-size: 12px;
    top: -12px;
  }
  /* code for project container */

  .project_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .project_card {
    height: 230px;
  }

  .project_content {
    top: -40px;
    font-size: -5px;
  }

  .project_title {
    font-size: 20px;
  }

  /* For contacyt Section */

  .name,
  .email {
    width: 300px;
  }

  .msg {
    width: 390px;
  }

  .connect {
    font-size: 17px;
  }
}

@media (max-width: 450px) {
  /* Code for the home page  */

  .navigation_bar,
  #home,
  .my_info,
  .service_container,
  .skill_container,
  .project_container,
  .form {
    box-shadow: 2px 1px 4px var(--title-color);
    border-radius: 30px;
  }

  .navigation_bar {
    margin: 10px 10px;
    margin-bottom: 15px;
  }

  .nav-menu {
    width: 93%;
    top: 85px;
  }
  .nav-menu.active {
    left: 3.7%;

    top: 85px;
  }
  .logo {
    font-size: 20px;
  }
  .theme_icon {
    width: 27px;
    height: 27px;
    top: 102px;
    right: 33px;
  }
  .role {
    padding: 4px 8px;
    font-size: 20px;
    position: absolute;
    top: 130px;
    left: 50px;
    border-radius: 10px;
  }

  .image {
    height: 270px;
    width: 290px;
    left: 45px;
    top: 203px;
  }

  .menutxt {
    top: 497px;
    left: 50px;
  }
  .inputs {
    display: block;
  }
  .icons img {
    height: 19px;
    width: 19px;
    margin: 5px;
  }

  .my_info .info {
    padding: 0 10px;
  }
  /* Code for Skill Section */
  .skill_bar {
    width: 250px;
    height: 5px;
  }
  .skill_per {
    height: 5px;
  }

  .skill_per::before {
    padding: 4px 5px;
  }

  .skill_per::before {
    padding: 5px 7px;
    font-size: 11px;
    top: -10px;
  }
  /* Css code for Project card */

  .project_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px 15px;
  }

  .project_card {
    height: 170px;
    border-radius: 30px;
  }
  .project_content {
    top: -60px;
  }

  .project_img {
    border-radius: 30px;
  }

  .project_card:hover .project_img {
    border-radius: 30px;
  }

  .project_info {
    margin: 0 -30px;
  }

  .project_title {
    font-size: 16px;
  }
  .project_info {
    font-size: 12px;
    padding: 0 -10px;
  }

  .github_btn,
  .live_btn {
    font-size: 10px;
    width: 55px;
  }

  /* Css code for contact section */
  .name,
  .email {
    width: 210px;
  }
  .msg {
    width: 270px;
  }

  .connect {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .navigation_bar,
  #home,
  .my_info,
  .service_container,
  .skill_container,
  .project_container,
  .form {
    box-shadow: 2px 1px 4px var(--title-color);
    border-radius: 30px;
  }

  .navigation_bar {
    margin: 10px 10px;
    margin-bottom: 15px;
  }

  .nav-menu.active {
    width: 92%;
    left: 4%;
  }
  .theme_icon {
    top: 99px;
    width: 23px;
    height: 23px;
  }

  .role {
    padding: 3px 6px;
    font-size: 16px;
    top: 140px;
    left: 40px;
    border-radius: 10px;
  }

  .image {
    height: 270px;
    width: 230px;
    top: 203px;
    left: 40px;
  }

  .menutxt {
    top: 480px;
    left: 40px;
  }

  .my_info.info {
    padding: 0 10px;
  }
  /* Css code for skill section */
  .skill_bar {
    width: 220px;
    height: 5px;
  }
  .skill_per {
    height: 5px;
  }

  .skill_per::before {
    padding: 4px 5px;
  }

  /* Css code for oroject section */

  .project_container {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px 5px;
  }

  .project_content {
    top: -67px;
  }
  .project_card {
    height: 160px;
    border-radius: 25px;
  }
  .project_img {
    border-radius: 25px;
  }

  .project_img {
    border-radius: 20px;
  }

  .project_card:hover .project_img {
    border-radius: 20px;
  }

  .github_btn,
  .live_btn {
    width: 45px;
    padding: 1px;
  }
  /* Css code for contact section */
  .name,
  .email {
    width: 180px;
  }
  .msg {
    width: 220px;
  }
  .connect {
    font-size: 16px;
  }
}
